---
import { getCollection } from "astro:content";
import BlogCard from "@/components/BlogCard.astro";

const allBlogPosts = await getCollection("blog");
---

<section class="blog section">
  <div class="header">
    <h2 class="section-title">Our Blog</h2>
    <a href="#" class="btn btn-outline btn-md">View More</a>
  </div>
  <div class="blogs">
    {
      allBlogPosts.map(({ data: { id, cover, title, coverAlt, caption },  slug }) => (
        <BlogCard id={id} img={cover} title={title} coverAlt={coverAlt}, caption={caption} slug={slug}/>
      ))
    }
  </div>
</section>

<style>
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .blogs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2.4rem;
    justify-items: center;
  }
</style>
